*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-div{
    height: 75vh;
    width: 85vw;

    margin-left: 100px;
    margin-top: 50px;
    border: 2px solid black;

}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: rgb(239, 234, 234);
}
@media (max-width:600px) {
    .header{
        background-color: blue;
    }
}
    
   