*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
  

    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
@media (max-width:768px) {
    .nav {
        flex-direction: column;
        background-color: grey;
    }
    
}