
.content{
    height: 250px;
    width:400px ;
    background-color: rgb(214, 188, 57);
    
   margin-left:40%;
   border-radius: 10px;

  
}
.content img{
    height: 200px;
    width: 350px;
    border-radius: 20px;
    margin-left: 25px;
    margin-top: 10px;
    opacity: 0.5;
}
.content p{
    margin-left: 25px;

}
.content img:hover{
    opacity: 1;
}
